<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovopc.grid_display">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homeScreenActivity"
            android:theme="@style/AppTheme.GrayStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".beginnerScreenActivity"
            android:theme="@style/AppTheme.GrayStatusBar"></activity>
        <activity android:name=".intermediateScreenActivity"
            android:theme="@style/AppTheme.GrayStatusBar"></activity>
        <activity android:name=".advancedScreenActivity"
            android:theme="@style/AppTheme.GrayStatusBar"></activity>
    </application>

</manifest>